<div class="row">
  <div class="col-12">
    <H3>Display your AMD Adrenalin performance logs with Adrenalin Charts</H3>
  </div>
</div>

<form  *ngIf="!csvs">
  <div class="form-group">
    <label for="filenames">Choose performance log files to display. Use 1 second sampling interval in <a href="https://support.amd.com/en-us/kb-articles/Pages/DH-026.aspx#Performance">AMD Radeon™ Overlay performance logging settings</a> when logging.</label>
    <input class="form-control-file" id="filenames" name="filenames" type="file" multiple (change)="data_access.load_local_csvs($event.target.files)">
</div>
</form>

<form *ngIf="csvs" class="series-controls">
  <div class="form-group form-row right" *ngFor="let csv of csvs; index as i">
    <label class="col-1 col-form-label" for="filename{{i}}">Filename</label>
    <div class="col-3">
      <input class="form-control" type="text" id="filename{{i}}" readonly [value]="csv.filename">
    </div>

    <label class="col-1 col-form-label" for="name{{i}}">Name</label>
    <div class="col-3">
      <input class="form-control" type="text" id="name{{i}}" [value]="csv.series_name" (input)="update_name(csv, $event.target.value)">
    </div>

    <label class="col-1 col-form-label" for="color{{i}}">Color</label>
    <div class="col-1">
      <input class="form-control" type="color" id="color{{i}}" [value]="csv.series_color" (input)="update_color(csv, $event.target.value)">
    </div>

    <label class="col-1 col-form-label" for="offset{{i}}">Offset</label>
    <div class="col-1">
      <input class="form-control" type="number" id="offset{{i}}" min="0" [value]="csv.series_offset" (input)="update_offset(csv, $event.target.value)">
    </div>
  </div>
</form>

<div *ngIf="fps_avg_chart" class="row">
  <div class="col">
    <div [chart]="fps_avg_chart"></div>
  </div>
</div>

<div *ngIf="fps_chart" class="row">
  <div class="col">
    <div [chart]="fps_chart"></div>
  </div>
</div>

<div *ngIf="fps_histogram_chart" class="row">
  <div class="col">
    <div [chart]="fps_histogram_chart"></div>
  </div>
</div>
