@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

body {
    font-family: "Roboto Slab", serif;
}

h1, h2, h3 {
    font-weight: 600;
}

.highcharts-tooltip table th {
    font-size: .8em;
    color: #b0b0b3;
}

.highcharts-tooltip table th:nth-child(2) {
    padding-left: 1em;
    text-align: right;
}

.highcharts-tooltip table td:nth-child(2) {
    padding-left: 1em;
    text-align: right;
}

.highcharts-background {
}
