body {
    /* color: white; */
    background-color: black;
    color: #E0E0E3;
    font-family: "Roboto Slab";
}

input[type=color] {
    padding: 0;
    margin-top: calc(.375rem + 1px);
}

.right {
    text-align: right;
}

.fps_avg_chart .highcharts-legend-item rect {
    display:none;
}

.center {
    text-align: center;
}

.separator-bottom {
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.separator-top {
    margin-top: 2em;
    padding-top: 2em;
}

.carbon-img img {
    vertical-align: top;
    float: left;
    margin-right: 8px;
    margin-bottom: 16px;
}

.carbon-text {
    font-size: 14px;
    font-family: "Pragati Narrow";
    color: white;
    text-align: right;
}
.carbon-poweredby {
    display: block;
    font-size: 12px;
    font-family: "Pragati Narrow";
    color: gray;
}
